{
  order pmtiles_proxy before reverse_proxy
}

:8080 {
  handle /tiles/planet* {
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET"
        defer
    }

    pmtiles_proxy {
      bucket {$BUCKET}
      
      cache_size 256

      # used to embed a tiles URL in TileJSON.
      public_url {$PUBLIC_URL}
    }
  }

  file_server
}