{
  order pmtiles_proxy before reverse_proxy
}

:8080 {
  handle_path /tiles/* {
    pmtiles_proxy {
      bucket {$BUCKET}
      
      cache_size 256

      # used to embed a tiles URL in TileJSON.
      public_url {$PUBLIC_URL}/tiles
    }
  }

  file_server
}